
/*Fonts*/
.lobster-font{
  font-family: 'Lobster', cursive;
}
.yanone-font{
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/*General*/
body {
  font-size: 18px;
  line-height: 1.25;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: #fafafa;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
img {
  box-sizing: border-box;
  width: 100%;
}
main {
  width: 100%;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.aligh-left{
  text-align: left;
}
.flex-space-between{
  justify-content: space-between;
}
.container {
  padding: 32px 24px;
}
/*Arrow to top*/
.a-arrow-up{
  font-size: 25px;
}
.scrollToTop{
	width:50px;
	height:50px;
	border-radius: 50%;
	text-align:center;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:70px;
	right:25px;
	display:none;
}
.scrollToTop:hover{
	text-decoration:none;
}

  /*button class*/
.button-class {
  border-radius: 5px;
  color: white!important;
  width: 100px;
  height: 30px;
  background-color: #06BC9B;
  border: 1px solid #208537;
  cursor: pointer;
}
.button-class:hover {
	background-color: white;
	color: #06BC9B!important;
	box-shadow: inset 0 0 0 3px hreen;
}
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}


/*Header<----------------------*/

header{
  background-color: #f5f5f5;
  border-bottom: 1px solid gray;
}
header nav{
  width: 100%;
  text-align: center;
}
.mobile{
  display: none;
}
.desktop{
text-align: right;
}
header nav ul{
  width: 100%;
  margin: 0 auto;
  padding: 0%;
}
header nav ul li {
  list-style: none;
  padding: 20px;
  display: inline-block;
  background-color: #f5f5f5;
  font-size: 1.5rem;
}
header nav ul li a {
  color: black;
  text-decoration: none;
}
header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toggle, .logo {
  padding: 10px 20px;
  box-sizing: border-box;
  color: black;
  font-size: 30px;
}
.toggle{
  display: none;
}

/*Hamburger*/

.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger .line{
  width: 40px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hamburger:hover{
  cursor: pointer;
}
#hamburger{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#hamburger.is-active{
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburger.is-active .line:nth-child(1),
#hamburger.is-active .line:nth-child(2),
#hamburger.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
#hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}
#hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

/*Green line animation*/

header nav ul li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}
header nav ul li > a:hover {
  color: #000;
}
header nav ul li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #06BC9B;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
header nav ul li > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*footer<-----------------------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #37474f;
  width: 100%;
  height: 60px;
  color: white;
}

footer nav {
  padding: 0 25px;
}
footer nav li {
  text-decoration: none;
  display: inline-block;
}
footer nav li  a {
  padding: 0 15px;
}
.made-by{
  padding-left: 20px;
}
.facebook, .linkedin, .github {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
}

.facebook {
  background-color: #3B5998;
}
.linkedin {
  background-color: #0077B5;
}
.github {
  background-color: #333;

}

    /*classes use for follow me animation*/
#spin2 li {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
 #spin2 li:hover{
  -webkit-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}



/*home page<------------------------------*/
.banner {
  height: 90vh;
  background-image: url('../images/logo/hero50.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.process-container{
  width: 100%;
  height: 100%;
  background-color: #eee8e2;
}
.process-icon-container{
  padding-top: 10%;
}

.testing{
  display: none;
  font-size: 6rem;
  color: #f5f5f5;
  font-weight: bold;
  text-shadow: -1px 0 #37474f, 0 1px #37474f, 1px 0 #37474f, 0 -1px #37474f;
}
.banner-title{
  text-align: center;
  position: relative;
  top: 55%;
}
.process-wrapper, .skills-wrapper {
  flex-wrap: wrap;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
.icon {
  color: white;
}
.process-text{
  width: 85%;
  padding-bottom: 12%;
  font-size: 1.1rem;
}
.process .work-together-title{
  background-color: #eee8e2;
  margin: 0;
  padding-bottom: 3%;
}
.process-wrapper{
  flex-wrap: wrap;
  width: 100%;
  background-color: #eee8e2;
}
.process-icon{
  color: white;
  font-size: 2.5rem;
  background-color: #fad332;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}
.process-box {
  width: 25%;
  height: 350px;
  margin: 30px;
  flex-direction: column;
  border: 1px solid gray;
  background-color: white;
  border-radius: 5%;
}
.process-border{
  border: 2px solid #fad332fc;
  padding: 5px;
  border-radius: 50%;
}
.yellow{
  background-color: #fad332fc;
}
.yellow-border{
  border: 2px solid #fad332fc;
}
.blue{
  background-color: #15c18ffc;
}
.blue-border{
  border: 2px solid #15c18ffc;
}
.green{
  background-color: #42b6dd;
}
.green-border{
  border: 2px solid #42b6dd;
}
.projects-home-wrapper {
  flex-direction: column;
}
.projects-home-container {
  width: 47%;
}
.projects-home {
  min-width: 100%;
  height: auto;
  margin:5px;
  background-color: #eee8e2;
}
.home-page-title {
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
}
.work-together-title {
  font-size: 2.9rem;
  padding: 4%;
  text-align: center;
  color: #37474f;
}
.work-together-title h3, h4 {
  margin-bottom: 5%;
}
.what-i-do{
  width: 100%;
  font-size: 1.4rem;
  margin: 5% auto;
  width: 85%;
  background-color: #eee8e2;
  color: #37474f;
}
.what-i-do-header{
  color:#37474f
}
.process-box-title{
  font-size: 2.1rem;
  color: #37474f;
  padding: 6% 0 8% 0;
}


/*About page<------------------*/

.profile{
  width: 47%;
  height: auto;
}
.about{
  background-color: #eee8e2;
}
.profile-image-holder img {
  height: 300px;
  width: 300px;
  border-radius: 30%;
  border: 2px solid #37474f;
}
.info {
  width: 47%;
  height: auto;
}
.info-text {
  padding: 10%;
  color: #37474f;
}
.education-left-container{
  width: 47%;
  height: auto;
}
hr{
  background-color: #06BC9B;
}
.education-left {
  width: 100%;
  padding-left: 20%;
}
.education-wrapper{
  width: 100%;
}
.education-title{
  padding: 5%;
}
.education{
  display: flex;
  width: 70%;
  border-left: 1px solid gray;
}
.education-logo{
  background-color: white;
  margin-left: -6%;
  margin-top: -1%;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: 1px solid gray;
}
.education-content{
  padding: 0 0 5vh 5vh;
}


/*Portfolio page<--------------------*/

.projects-box-wrapper{
  flex-wrap: wrap;
}
.projects-home-wrapper{
  flex-direction: column;
  background-color: #fafafa;
}
.projects-home{
  background-color: #eee8e2;
}
.project-info{
  width: 45%;
  padding:5% 5%;
  flex-direction: column;
}
.project-info-home{
  width: 49%;
  padding: 20px;
}
.carousel{
  width: 100%;
  padding: 5%;
  height: 300px;
}
.carousel-holder{
  width: 50%;
  padding: 3%;
}
.box {
  width: 95%;
  height: auto;
  margin-bottom: 2%;
  background-color: #eee8e2;
  border-radius: 5px;
}
.technologies img {
  height: 40px;
  width: 40px;
  padding: 3px;
}

.technologies{
    margin-top: 5%;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
}
.links a {
  margin: 4px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 5px;

}
.links a:hover{
  color: #06BC9B;
  border: 1px solid #06BC9B;
}
.links img{
  height: 30px;
  width: 30px;
}
.projects-title-holder, .projects-title{
  background-color: #eee8e2;
  background-image: url('../images/logo/vector.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}
.project-info-title{
  margin-bottom: 7%;
  font-size: 1.75rem;
}
.projects-title{
  padding: 3%;
  color: #37474f;
}
.project-info p {
  text-align: center;
}
.profile-image-holder, .info{
  background-color: #eee8e2;
}


/*colors used for project titles*/

#ravenous {
  color: #c59e50;
}
#colmar-academy{
  color: #444;
}
#code-ninja{
  color:#dbc982;
}
#mix-it{
  color:#7b021a;
}
#hidden-travellr{
  color:#765887;
}
#eShopper{
  color:#43b861;
}

.about-second{
  margin: 2% 0 2% 0;
}

/*Timeline*/
.container-t {
  border-radius: 5px;
  background-color:#eee8e2;
  width: 100%;
  padding: 50px 0;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
}
.container-t:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: #06BC9B;
  z-index: 1
}
.timeline-block {
  width: -webkit-calc(50% + 13px);
  width: -moz-calc(50% + 13px);
  width: calc(50% + 13px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
}
.timeline-block-right {
  float: right;
}
.timeline-block-left {
  float: left;
  direction: rtl
}
.marker {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #06BC9B;
  background: white;
  margin-top: 10px;
  z-index: 9999
}
.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: black;
}
.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500
}
.timeline-content span {
  font-size: 1.2rem;
  color: #a4a4a4;
}
.timeline-content p {
  font-size: 1rem;
  line-height: 1.5em;
  word-spacing: 1px;
  color: #37474f;
}
.about-me-container{
  padding: 0 3% 0 3%;
}
.education-logo{
  height: 25px;
  width: 25px;
  margin: 0 20px 0 20px
}
.education-about{
  font-size: 1.7rem;
  border: 1px solid #06BC9B;
}
.certificate{
  width: 30px;
  height: 30px;
}
.certificate-holder{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


/*Contact page <----------------------*/
.contact, .map-holder {
  width: 47%;
}
.contact{
  background-color: #eee8e2;
  margin: 2% 2% 3% 2%;
}
.contact > div {
  width: 100%;
  margin: 2.2%;
}
#map{
  height: 43vh;
  border: 1px solid #06BC9B;
  width: 90%;
}
.contact-buttons{
  flex-wrap: wrap;
}
.contact-buttons > a{
  width: 50%;
  height: 40px;
  margin:2.4%;
  border: 1px solid #06BC9B;
}
.contact-title{
  margin-bottom: 6%;
  font-size: 3rem;
  color:  #06BC9B;
}
.github-contact{
background-color: #333
}
.linkedin-contact{
  background-color: #0077B5;
}
.mail-contact{
  background-color: gray;
}
.mail-contact, .linkedin-contact, .github-contact{
  color: white;
  font-size: 2rem;
  border-radius: 5px;
}
.container-t-title{
  background-color: #eee8e2;
}
.contact-container{
  background-color: #eee8e2;
  margin: 2% 3% 3% 2%;
}


@media screen and (max-width: 800px) {

  header nav ul li:first-child{
    border-top: 1px solid gray;
  }
  header nav ul li a {
    color: white!important;
  }
  .toggle{
    display: block;
  }
  header {
    background-color: #37474f;
  }
  .desktop {
    display: none;
  }
  .logo{
    color: white;
  }
  header nav ul{
    width: 100%;
    display: none;
  }
  header nav ul li {
    border-bottom: 1px solid gray;
    display: block;
    text-align: center;
    background-color: #37474f;
  }
  .active {
    display: block;
  }
  .container-t:before {
    width: 100%;
    left: 12px;
    width: 2px;
  }
  .what-i-do{
    width: 90%;
    background-color: #eee8e2;
  }
  .contact-container{
    display: flex;
    flex-direction: column;
  }
  .contact, .map-holder {
    width:100%;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
   .timeline-block-right {
    float: none;
  }
  .timeline-block-left {
    float: none;
    direction: ltr;
  }
  .mail-contact, .linkedin-contact, .github-contact{
    font-size: 1.5rem;
  }
  .projects-home-container {
    width: 95%;
    flex-wrap: wrap;
  }
  .banner{
    height: 60vh;
  }
  .profile-image-holder{
    padding-top: 30px;
  }
  .process-box{
    width: 70%;
  }
  .testing{
    font-size: 2.7rem;
  }
  .about, .about1{
    background-color: #eee8e2;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
  }
  .profile, .info, .education-left-container, .noidea{
    width: 100%
  }
  .carousel-holder{
    order: 1;
  }
  .project-info{
    order: 2;
  }
}

@media only screen and (max-width: 700px){
  .banner-title{
    top: 30%;
  }
  .banner{
    height: 80vh;
  }
  .technologies img {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 600px){
  .s-home-container {
    width: 95%;
    flex-wrap: wrap;
  }
  .about-me-container {
    padding: 0;
  }
  .profile-image-holder img {
    width: 250px;
    height: 250px;
  }
  .process-box{
    width: 90%;
  }
  .testing{
    font-size: 2.2rem;
  }
  .banner{
    height: 40vh;
  }
  .banner-title{
    top: 50%;
  }
  .carousel-holder, .project-info {
    width: 100%;
  }
  .carousel-holder{
  }
  .carousel{
    height: auto;
  }
  .box{
    flex-direction: column;
  }
  .made-by{
    display: none;
  }
  footer nav{
    margin: 0 auto;
    padding: 3px;
  }
  footer nav ul li {
    padding: 3px;
  }
}
