body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.25;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
img {
  box-sizing: border-box;
  width: 100%;
}
/* Container */
main {
  position: relative;
  top: 64px;
}
.banner {
  height: 85vh;
}
.process-wrapper, .skills-wrapper {
  height: 300px;
}

.border{
  border: 1px solid red;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.hamburger .line{
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburger-6.is-active{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2){
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}


.container {
  padding: 32px 24px;
}

a{
    text-decoration: none;
    color: inherit;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.button-class {
  border-radius: 5px;
  color: white;
  width: 100px;
  height: 30px;
  background-color: #28a745;
  border: 1px solid #208537;
  cursor: pointer;
}
.button-class:hover {
  width: 110px;
  height: 33px;
  background-color: #28a745;
  font-size: 1rem;
}
.effect1{
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}
.icon {
  color: white;
}
/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding-left: 24px;
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 99%;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

.logo img {
  height: 2.5rem;
}
.bold, .light {
  text-transform: uppercase;
}
.bold {
  font-weight: bold;
}

nav  {
  display: block;
  padding: 16px 24px 16px 64px;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 4px 4px;
  font-size: 20px;
  font-weight: lighter;
}

/*end of header*/

.auto-type {
  font-size: 1.75em;
  width: 30em;
      white-space:nowrap;
      overflow:hidden;
      -webkit-animation: type 6s steps(60, end);
      animation: type 6s steps(60, end);
  }

  @keyframes type{
      from { width: 0; }
  }

  @-webkit-keyframes type{
      from { width: 0; }
  }
}

.process-wrapper{
  justify-content: center;
  align-items: center;
}
.process-icon{
  font-size: 2.5rem;
}
.process-box {
  min-width: 17%;
  height: 35vh;
  margin: 15px;
  flex-direction: column;
  justify-content: space-around;
}

.process-img{
  border-top-left-radius: 40px;
  border-top-right-radius: 10;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 10px;
  min-width: 45%;
  height: 45%;
}


.projects-home-wrapper {
  flex-direction: column;
}
.projects-home-container {
    width: 47%;
}
.projects-home {
  min-width: 100%;
  height: 70vh;
  margin: 20px;
}


.skills-wrapper img {
  width: 80px;
  height: 80px;
  margin: 30px;
}





.home-page-title {
  height: 30vh;
  flex-direction: column;
  font-size: 2.2rem;
}


.work-together-title {
  margin: 5px;
}







/*footer*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #151313;
  width: 100%;
  height: 60px;
  color: white;
}

  #madeBy {
    margin-left: 25px;
  }


  nav {
    padding-right: 20px;
  }
    nav li {
      text-decoration: none;
      display: inline-block;
}
    nav li  a {
        padding: 0 15px;
}
  nav li a .icon {
          width: 25px;
          height: 25px;
          }



    /*classes use for follow me animation*/
    #spin2 li {
      -webkit-transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
    }
    #spin2 li:hover{
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }




/*about page*/
.profile{
  width: 47%;
  height: 60vh;
}
.profile-image-holder{
  border-radius: 10%;
  width: 80%;
  height: 70%;
}
.info {
  width: 47%;
  height: 60vh;
}
.info-text {
  padding: 10%;
}
.education-left-container{
  width: 47%;
  height: 65vh;

}
.education-left {
width: 100%;
padding-left: 20%;
}
.education-wrapper{
  width: 100%;

}
.education-title{
  padding: 5%;
}
.education{
  display: flex;
  width: 70%;
  border-left: 1px solid gray;
}
.education-logo{
  background-color: white;
  margin-left: -6%;
  margin-top: -1%;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  border: 1px solid gray;
}
.education-content{
  padding: 0 0 5vh 5vh;

}

.noidea{
  width: 47%;
  height: 65vh;
}

/*portfolio page*/
.projects-title{
  padding: 13vh;
}

.projects-box-wrapper{
  flex-wrap: wrap;
}

.test{
  width: 47%;
}
.box {
  width: 46%;
  height: 60vh;
}

.slick-slide {
  width: 300px;
}
